
<h1>Follower (<%= current_user.follower_users.count %>)</h1>

<% current_user.follower_users.each do |user| %>
  <ol class = "follwers">
    <h1>
      <%= gravatar_for user %>
    </h1>
    <h3>
      <%= user.name %>
    </h3>
    
    <%= link_to"Followings",followings_user_path(user)%>
    <%= link_to"Followers",followers_user_path(user)%>
  </ol>
  <br>
  <hr>
<% end %>
